* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --darkBlue: rgba(35, 37, 54, 1);
  --gray: rgba(217, 217, 217, 1);
  --lightOrange: rgba(255, 211, 175, 1);
  --lightBlue: #ECF8F9;
  --blue: rgba(93, 95, 239, 1);
}

html {
  font-size: 62.5%;
}

.center {
  max-width: 121rem;
  padding-inline: 1rem;
  box-sizing: content-box;
  margin: auto;
}

header {
  background-color: var(--darkBlue);
  display: block;
  margin-bottom: 9.6rem;
}
header a {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
}
header .navigation {
  display: flex;
  justify-content: space-between;
}
header .navigation .logo {
  display: flex;
  gap: 1rem;
  padding-block: 2.8rem;
}
header .navigation .logo .material-symbols-outlined {
  display: none;
  color: white;
}
header .navigation .nav {
  display: flex;
  align-items: center;
  gap: 3.2rem;
}
header .navigation .nav ul {
  display: flex;
  list-style-type: none;
  gap: 3.2rem;
}
header .navigation .nav ul li {
  border: solid var(--darkBlue);
  padding-block: 2.8rem;
}
header .navigation .nav ul a {
  text-decoration: none;
  color: var(--gray);
}
header .navigation .link {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .navigation .link a {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--lightOrange);
  text-decoration: none;
}
header .navigation .link a .material-symbols-outlined {
  display: block;
  color: white;
}

.section__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
  text-align: center;
  white-space: wrap;
}
.section__top h1 {
  font-weight: 900;
  font-size: clamp(2em, 20vw, 25rem);
  background: url(./images/Image\ \(8\).png) 24%;
  background-size: 100%;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.section__top h2 {
  font-weight: 500;
  font-size: 1.4rem;
}
.section__top h3 {
  font-weight: 700;
  font-size: clamp(3.8rem, 4vw, 4.8rem);
}
.section__top h4 {
  font-weight: 500;
  font-size: 1.8rem;
}
.section__top p {
  font-weight: 400;
  font-size: 1.6rem;
}
.section__top .career--primary img {
  position: absolute;
  left: 88%;
}
.section__top .career__secondary {
  max-width: 624px;
}

.section__bottom {
  margin-top: 9.6rem;
  background-color: var(--lightBlue);
  font-family: "Poppins", sans-serif;
}
.section__bottom .cards {
  display: flex;
  gap: 3.2rem;
  flex-wrap: wrap;
  justify-content: center;
  padding: 78px 76px 78px 78px;
}
.section__bottom .cards .card {
  flex-grow: 1;
  background-color: white;
  width: 354px;
  height: 243px;
  transition-duration: 0.5s;
}
.section__bottom .cards .card:hover {
  width: 354px;
  height: 243px;
  translate: 0px -10px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.section__bottom .cards .card .info {
  margin: 48px 168px 30px 48px;
}
.section__bottom .cards h5 {
  color: var(--darkBlue);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 28px;
  text-align: left;
  margin-bottom: 1rem;
  text-wrap: nowrap;
}
.section__bottom .cards p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0.3rem;
  color: var(--darkBlue);
  text-wrap: nowrap;
}
.section__bottom .cards a {
  display: flex;
  gap: 1.2rem;
  align-items: center;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  color: var(--blue);
  margin-top: 5.3rem;
}

@media screen and (width < 910px) {
  header nav {
    display: none;
  }
  header .navigation .logo .material-symbols-outlined {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */